body{
  background-image: url("img/2470958.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

h1{
  font-size: 200%;
  color: red;
  border: 5px white;
  margin-left: 33%;
  align-self: center;
}

button{
  margin-top: 30%;
  margin-left: 48%;
  background:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(80,25,25,1) 93%, rgba(126,3,3,1) 100%);
  color:white;
  border: 3px black;
  width:100px;
  height:100px;
  border-radius: 30px;

}
